


	.div{
		border:solid 1px black;
		background-color:lightblue;
		height:645px;
		margin-left:10px;
		margin-right:10px;
		margin-top:5px;
		
	}
	
	.loader {
		border: 8px solid #f3f3f3;
		/* Light grey */
		border-top: 8px solid #3498db;
		/* Blue */
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin-left: auto;
		margin-right: auto;
		animation: spin 1s linear infinite;
	}
	
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
	
		100% {
			transform: rotate(360deg);
		}
	}
	
	.newdiv{
		border:2px blue dotted;
		height:300px;
		padding:190px;
		margin:80px;
		
	}
	
	 input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	 }